.display {
    width: 300px;
    height: 60px;
    margin-left: 125px;
    margin-right: 125px;
    padding-top: 45px;
    align-content: center;
}

textarea {
    margin: 0px;
    color: #fff;
    background-color: black;
    height: 60px;
    width: 300px;
    resize: none;
}
